nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
  background: black;  
  font-family: Arial;
  font-size: 14px;  
  text-transform: uppercase;
}

li {
  display: inline-block;
}

li a { 
  display: block;  
  padding: 10px;  
  color: white;  
  text-decoration: none;
}